---
import BaseLayout from '../layouts/BaseLayout.astro'

const title = 'Home'
---

<BaseLayout pageTitle={title}>
  <main>
    <h1>Welcome to the Home Page</h1>
    <p>This is the main content of the homepage.</p>
  </main>
</BaseLayout>
